#search-bar {
background: #420707;
#playlist-import {
border-top: 5px solid cyan;
background: #212121 !important
#volume .slider {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px -19px 0px 6px rgba(0, 0, 0, 0), 0px 20px 0px 6px rgba(0, 0, 0, 0) !important;
.communities .grid .cell .bar, .communities .grid .cell .favorite, .communities .grid .cell .meta, .communities .grid .cell .meta .host, .communities .grid .cell {
background: #000 !important;
}
.communities .grid .cell:hover>.meta {
background: rgba(0, 0, 0, 0.85) !important;
}
.communities .grid .cell .meta .join {
background: rgba(30, 90, 45, 0.5) !important;
}
/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: rgba(40, 120, 60, 0.75) !important;
}
.jspDrag {
    background: rgba(40, 120, 60, 0.65) !important;
}
.jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover, .experience .levels .level.earned.avatar .label {
    background: rgba(40, 120, 60, 0.95) !important;
}
/* Scrollbar */

#footer-user .back, #footer-user .signup {
    background: rgba(40,120,60,0.75) !important;
    -webkit-box-shadow: inset 0 2px 0 -1px rgba(40,120,60,1) !important;
    -moz-box-shadow: inset 0 2px 0 -1px rgba(40,120,60,1) !important;
    box-shadow: inset 0 2px 0 -1px rgba(40,120,60,1) !important;
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
background: #c42e3b !important;
}
#dj-button .left {
background: #4c8ef7 !important;
}
